.inProgressListContainer {
    background: #00bfff36;
}

.backlogListContainer {
    background: #ffd70040;
}

.doneListContainer {
    background: #90ee907d;
}

.taskContainer {
    border: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-style: solid;
}

.taskControlGroup {
    padding-top: 10px;
}